{{!-- TODO Finish --}}

<div class="container">
      <div class="flexItem">
       

        <div class="flex">
          <div>  
            <form class="form">
              
                <h1 class="title">Login</h1>
              
              <div class="group">      
                <input id="email-login" class="form-input" type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
              </div>
                
              <div class="group">      
                <input class="form-input" type="password" id="passwordInput" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="passwordInput">Password</label>
              </div>
              <div class="flex">
                <button type="submit" class="submitBtn" value="Sign up">Login</button>
              </div>
            </form>
          </div>
        </div>

    
   
      </div>
      

      <div class="flexItem flexItem2">
        <!-- <div class="flex-title">
          <h3>Sign Up</h3>
        </div> -->
        <div class="flex">
          <div>  
            <form action="" class="form">
              <h1 class="title">Sign up</h1>
        
              <div class="inputContainer">
                <input type="text" id="email-signup" class="input form-input" placeholder="a">
                <label for="" class="label">Email</label>
              </div>
        
              <div class="inputContainer">
                <input type="text" id="name-signup"class="input form-input" placeholder="a">
                <label for="" class="label">Full Name</label>
              </div>
        
              <div class="inputContainer">
                <input type="password" class="input form-input" id="password-signup" placeholder="a">
                <label for="" class="label">Password</label>
              </div>
        
              <div class="inputContainer">
                <input type="password" class="input" placeholder="a">
                <label for="" class="label">Confirm Password</label>
              </div>
        
              <!-- <input type="submit" class="submitBtn" value="Sign up"> -->
              <button type="submit" class="submitBtn" value="Sign up">Sign up</button>
            </form>
        
          </div>
        </div>

    
   
      </div>
       
    
</div>


<!-- signup.handlebars -->



