{{!-- ROYE TO LALO: Ask Anthony if he wants to make this look similar to user submission form. --}}
               <div class="mealDisplay"id="renderInfo">
                {{#each user.meals as |meal|}}
                <p> Meal name: {{meal.meal_name}}</p>
                <p> Calories: {{meal.calories}}</p>
                <p> Description: {{meal.description}}</p>
                <p> Meal Type: {{meal.meal_type}}</p>
                {{/each}}
               </div>



              






<form id = 'user-form'>
        
        <div>
            <h2 class = 'title'>Meals</h2>
        </div>

        <div class="userForm">
                <div class="group">
                    <input id="mealName" class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="mealName">What's your meal Name?</label>
                </div>

                <div class = 'group'>
                     <h4 for="form-input">What Category does your Meal into?</h4>
                     <select name="mealType" id="mealType">
                          <option value="breakfast">breakfast</option>
                          <option value="lunch">lunch</option>
                          <option value="dinner">dinner</option>
                          <option value="snack">snack</option>
                      </select>
                </div>

                <div class="group">
                    <input id="mealDescription" class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="form-input">Provide a Meal Description!</label>
                </div>

                <div class = 'group'>
                    <input id="mealCalories" class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="form-input">How many calories does your Meal consist of?</label>
                </div>

                <button class="userBtn"id="newMealBtn">Add Meal</button>
        </div>


        
    </form>











      <script src="/js/mealsAll.js"></script>