{{!-- this page will match mealsAll.js and populate all meals for a user--}}

    {{!-- We need a each statement that checks length of meals and automatically shows it to the user when they are on this page. --}}
    
    <div>

    </div>

    
    
    <div>
        <h1>What would you like to do?</h1>
        <ul>
          <li><a href="">add meals</a></li>
          <li><a href="">update meals</a></li>
          <li><a href="">delete meals</a></li>
          
          {{!-- <li><a href="/workoutUpdate">Add Workout</a></li>
          <li><a href="/user">Edit User</a></li> --}}
        </ul>
      </div>

{{!-- Shows true when user selects add meals --}}
      <section>

      </section>
{{!-- Shows true when user selects update meals --}}

      <section>

      </section>
    {{!-- Shows true when user selects delete meals --}}

      <section>
        
      </section>