{{!-- ROYE TO LALO: Ask Anthony if he wants to make this look similar to user submission form. --}}
               <div id="renderInfo">
                {{#each user.meals as |meal|}}
                <p>{{meal.meal_name}}</p>
                <p> {{meal.calories}}</p>
                <p> {{meal.description}}</p>
                <p> {{meal.meal_type}}</p>
                {{/each}}
               </div>



              <section>

                <form action="form">
                    <div>
                        <h3>What's your meal Name?</h3>
                        <input id= "mealName" type="text"> 
                      </div>
              
                      <div>
                        <h3>What Category does your Meal into?</h3>
                        <select name="mealType" id="mealType">
                          <option value="breakfast">breakfast</option>
                          <option value="lunch">lunch</option>
                          <option value="dinner">dinner</option>
                          <option value="snack">snack</option>
                        </select>
                      </div>

                      <div>
                        <h3>Provide a Meal Description!</h3>
                        <input id="mealDescription"type="text">
                      </div>
  
                      <div>
                        <h3>How many calories does your Meal consist of?</h3>
                        <input id="mealCalories"type="text">
                      </div>

                      <button id="newMealBtn">Add Meal</button>
                </form>
            </section>







      <script src="/js/mealsAll.js"></script>