{{!-- TODO: LINK TO CHART.JS --}}

<div class="row">
  <div class="col-auto">
    <h1>Your Progress so far: </h1>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues = ["Calories Consumed", "Calories Burnt" ,"Current Weight", "Goal Weight", "Anthony"];
var yValues = [{{{json meals.[0].totalCalories}}}, {{{json workouts.[0].totalCaloriesBurnt}}}, {{{json weight}}}, {{{json goal_weight}}}, 15];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Lets See Your Progress!!"
    }
  }
});
</script>
{{!-- Implement Chart.js here. --}}
        


<script src="./js/profile.js"></script>
