{{!-- TODO: LINK TO CHART.JS --}}

<div class="row">
  <div class="col-auto">
    <h1>Your Progress so far: </h1>
  </div>
</div>

{{!-- Implement Chart.js here. --}}
        


<script src="./js/profile.js"></script>
