{{!-- for GET all workouts // to match user.js --}}
{{!-- this page will match mealsAll.js and populate all meals for a user--}}

{{!-- We need a each statement that checks length of meals and automatically shows it to the user when they are on this
page. --}}

<div>

</div>


<div>
    <h1>What would you like to do?</h1>
    <ul>
        <li><a href="">view all Workouts</a></li>
        <li><a href="">Add Workouts</a></li>
        <li><a href="">Update workout</a></li>

        {{!-- <li><a href="/workoutUpdate">Add Workout</a></li>
        <li><a href="/user">Edit User</a></li> --}}
    </ul>
</div>

{{!-- Shows true when user selects add meals --}}
<section>
    all workouts
</section>
{{!-- Shows true when user selects update meals --}}

<section>
    What would you workout be called?
</section>
{{!-- Shows true when user selects delete meals --}}

<section>
    which workout would you like to update?
</section>